.chat-message-left,
.chat-messame-right{
    display: flex;
    flex-shrink: 0;
    height: 100px;
}

.test{
    background-color: slateblue;
}

.chat-message-left{
    margin-right: auto;
}

.rounded{
    border-radius: 50% !important;
}

.sortaRounded{
    border-radius: 10px !important;
}

.time{
    margin-left:10px !important;
    font-size: 10px; 
}

.name{
    margin-left: 20px
}

.chat-message-right{
    flex-direction: row-reverse;
    margin-left: auto;
}

.flex-grow-0{
    flex-grow: 0 !important;
}

