
nav{
    background-color: #00203fff !important;
}

.nav-link{
    color: white;
}




@media screen and (min-width: 600px) {
    nav{
        height: 40px;
        margin-left: 160px;
    }

    .nav-accordion{
        display: none;
    }
}