@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

.auth {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: gray;
    color: white;
    text-align: center;
    overflow: hidden;
    font-family: 'Pt Sans', sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

* {
    overflow: hidden;
}